<label class="app-checkbox" [class.app-checkbox--disabled]="disabled" [for]="id">
  <input
    class="app-checkbox__input"
    type="checkbox"
    [id]="id"
    [checked]="checked"
    [disabled]="disabled"
    [attr.aria-label]="ariaLabel()"
    [attr.aria-checked]="checked"
    (change)="onInputChange($event)"
    (keydown)="onKeydown($event)"
    (blur)="onBlur()"
  />
  <span class="app-checkbox__box" aria-hidden="true"></span>
  @if (label()) {
    <span class="app-checkbox__label">{{ label() }}</span>
  }
</label>
