.app-icon {
  display: inline-block;
  flex-shrink: 0;
  width: var(--space-6); // 24px
  height: var(--space-6);
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;

  &--xs {
    width: var(--space-3); // 12px
    height: var(--space-3);
  }

  &--sm {
    width: var(--space-5); // 20px
    height: var(--space-5);
  }
}
