<label class="app-input" [class.app-input--disabled]="disabled" [for]="id">
  @if (label()) {
    <span class="app-input__label">{{ label() }}</span>
  }
  <span class="app-input__wrapper">
    @if (icon(); as iconName) {
      <app-icon class="app-input__icon" [name]="iconName" size="sm" />
    }
    <input
      class="app-input__field"
      [class.app-input__field--has-icon]="icon()"
      [id]="id"
      [type]="type()"
      [placeholder]="placeholder()"
      [value]="value"
      [disabled]="disabled"
      (input)="onInput($event)"
      (blur)="onBlur()"
    />
  </span>
</label>
